[2022-08-16 20:10] biowaffeln opened #1 "state not updating immediately"
Hey Jay! Just discovered the library and tried to give it a spin by creating a simple todo list example, but I couldn't quite get it working. Here's the example:

https://stackblitz.com/edit/vitejs-vite-duyj73

 Specifically, there's these issues:
 1. When I add the first todo it only appears after I add a second one
 2. Similarly the "done" toggle only renders after I click on it a few times
 3.

[2022-08-17 02:53] jmeistrich commented on #1
Interesting! It's caused by StrictMode, removing StrictMode makes it work. I'm investigating to fix it.

[2022-08-17 04:31] jmeistrich commented on #1
Fixed in `beta.3`. I updated a fork of your stackblitz with it updated, and it looks to be working correctly now: https://stackblitz.com/edit/vitejs-vite-5jmraw

The fix also made it slightly faster too :).

Thanks for the report!

[2022-08-17 04:31] #1 closed

[2022-09-09 14:59] stephenh opened #2 "useComputed doesn't update on deps change"
We have our own mobx-based `useComputed`, and I was looking at Legend's implementation just out of curiosity.

I thought this approach was neat:

[code]

But in trying the approach out for our `useComputed` test suite, it doesn't actually work b/c contrary to the comment of "setValue is only undefined on the first run", it's actually always undefined, b/c on the 2nd run, i.e. `useMemo` has noticed

[2022-09-09 15:08] jmeistrich commented on #2
Ah, good point! We hadn't actually tested it with the deps array yet since we made that change. I'll look into fixing that. The ref solution looks like it would work 👍.

I'll experiment with it to try find a solution without adding a hook if possible, but otherwise will go for the ref solution. Thanks!

[2022-09-09 16:56] jmeistrich commented on #2
I'm actually changing it significantly based on some other changes I've been working on. `useComputed` will now be the basis of `observer` so everything is more consistent. I'm finishing testing another branch and will hopefully release it tomorrow.

Preview of the change if you're interested: https://github.com/LegendApp/legend-state/blob/primitive/src/react/useComputed.ts

Note that it looks lon

[2022-09-14 06:51] jmeistrich commented on #2
This should be fixed in 0.16, especially since it doesn't have deps anymore. Please let me know if there's still any issues.

[2022-09-14 06:51] #2 closed

[2022-09-14 19:20] kieran-osgood opened #4 "Accessing value before set gives the set value"
Hey! I caught the stream with Jamon and wanted to take a look out of interest as I was keen to see how adding the run time type checking with zod via a plugin of some kind might go 👀

I wasn't sure if I've missed something in the docs, but if you see the below, I tried logging out the value prior to setting and it seems to give me the set value?

** Note ** - it gives the correct value if I call `

[2022-09-16 07:22] jmeistrich commented on #4
This is just a quirk of the Chrome devtools because it evaluates `console.log` of Proxy lazily. So since you set it to the new name immediately, by the time you see it in the devtools the object through the Proxy has the new name. When you log the raw object from `get()` it evaluates the object immediately so it shows the current value before the set. That does look pretty weird though 😂

[2022-09-16 07:22] #4 closed

[2022-09-16 08:27] kieran-osgood commented on #4
Thanks for confirming, had a feeling it might be but I was just looking at it like....wut? lets go check

Just wanna add - awesome work on this library!
Very excited to put it into play, have held off on touching any new state libs for the last 18 months sticking with mobx-state-tree, got very tempted with valtio but didn't like the snapshot stuff - you've managed to package up everything I had lo

[2022-09-20 16:06] hirvesh opened #5 "Firebase & Firestore Plugins"
Hello 👋

![A508CD9A-B807-406D-98F2-07A9A8C5171C](https://user-images.githubusercontent.com/67500738/191308677-2eb38ff9-401e-42cc-8a3e-b9188119dca8.jpeg)

Just read this and would appreciate to know how far along the Firebase/Firestore plugins are.

Can you shed light on how it will work and if it will support both Firebase JS SDK on web and react-native-firebase on the native side?

Keep up the go

[2022-09-20 17:53] jmeistrich commented on #5
We have a Firebase Realtime Database plugin that we use for the sync system in [Bravely](https://bravely.io) and will use in Legend soon, but it's still in active development and not quite cleaned up for everyone to use.

It has a lot of complexity with offline caching, supporting saving/querying by timestamp, automatically shortening field names to a single character, etc... I'm not sure how much

[2022-09-20 23:39] rileymiller opened #6 "Handle putting JSX elements into observables"
Hey! Been doing some exploring into legend and we're super excited about it!

During our initial exploration I wanted to try and convert our dialog system to use Legend since it's pretty straightforward and ran into some issues (probably due to my misunderstanding of how legend works).

I tried two approaches, the first works great but I was curious if there's a way to get approach #2 to work sinc

[2022-09-21 02:51] jmeistrich commented on #6
Oh wow, I had not considered putting ReactNodes directly into observables. I would approach it by putting a lighter object that describes the dialog into the observable, like { title, type, info } etc... Then have your Dialog component use those details to render. Something like this: https://codesandbox.io/s/legend-w-observable-forked-o4zzxp?file=/src/App.tsx

That said though, the actual problem

[2022-09-21 11:31] jmeistrich opened #7 "traceUpdates sometimes throws error on getPrevious"
Just posting this issue publicly in case anyone runs into it. I will look into it soon.

Using `traceUpdates` in combination with `computed` is throwing errors. It's a pretty deep issue, incompatibility with the new enabledLegendReact() so it will take a little bit to rethink how tracing should work and fix it up.

[2022-09-22 22:54] rileymiller commented on #6
Ah gotcha, thanks for taking a look at this!

[2022-09-24 20:44] stephenh opened #8 "enableLegendStateReact is amazing"
I was just checking in on legend-state, and saw the new `observer`-less/`useComputed`-less React integration. Like, lol, wat? That's super neat.

My understanding is that, by hooking into this setter, you're basically getting react to give you a "beginRender" and "endRender" API, which lets you wrap every React component with the equivalent of the `observer` HOC behavior.

Does that sound right?

[2022-09-25 13:13] jmeistrich commented on #8
Yes exactly, it's hooking into `ReactCurrentDispatcher.current` changing in React's internals to detect when render begins/ends. I didn't even know it was possible until I saw Preact Signals: https://github.com/preactjs/signals/blob/main/packages/react/src/index.ts

That's a great idea to describe it more in the docs - will do that soon!

This is so deep in the React internals that it seems very u

[2022-09-25 13:14] jmeistrich commented on #8
(Leaving open until I update the docs)

[2022-09-25 14:27] stephenh commented on #8
Yeah, that's a good point.

Also great to see that Preact is using the same approach, both in terms of sharing ideas on how to keep it working in future Reacts, but also hopefully brings more weight to convincing the React team that some sort of API to help 3rd-party frameworks more seamlessly/succinctly bridge the gap from observers (or whatever state idiom the library is using) into React's hook

[2022-09-25 17:06] jmeistrich commented on #8
Yes, I agree with that. If in the worst case future there is no way to hook into the lifecycle in a similar way, `observer` would always be a reasonable fallback.

[2022-09-26 10:56] jmeistrich commented on #6
Version 0.18 will handle this better and also show console warnings There's some other big changes in 0.18 so we're testing it in 0.18.0@next first, but it's looking good so you can try it now if you'd like, or 0.18 should be released shortly.

[2022-09-26 10:56] #6 closed

[2022-09-26 10:57] jmeistrich commented on #7
Originally reported by @chakravarthi-bb.

Version 0.18 fixes this. The fix included a major change to the React dispatcher hooking so we're testing it in 0.18.0@next first, but it's looking good so you can try it now if you'd like, or 0.18 should be released shortly.

[2022-09-26 10:57] #7 closed

[2022-10-01 13:40] jmeistrich commented on #8
I added some documentation about how it works to https://legendapp.com/open-source/state/react-basics/#enablelegendstatereact. Do you think that's good or is there anything I didn't comment well?

[2022-10-01 13:40] #8 closed

[2022-10-01 14:10] hckhanh opened #11 "Is there any clear documentation for get method"
When I look on the get method in type definitions, I see that it can be boolean | 'optimze'

What is the correct usage of `'optimze'`, `true` or `false

[2022-10-01 14:16] stephenh commented on #8
That's great! Thanks!

[2022-10-01 14:21] jmeistrich commented on #11
Ah good point, we will add more about that to the docs. It got a bit lost as we've rewritten the API a few times. But it's stable now so we'll expound on it more. Basically it has to do with tracking (see https://legendapp.com/open-source/state/tracking/)

true = Track shallowly
false = Don't track
'optimize' = Track shallowly, and optimized for arrays. This is used by the `For` component with the

[2022-10-02 03:14] hckhanh commented on #11
Hi @jmeistrich I have another question
What is the correct way to use `For` with TypeScript, I get this error all the time

[code]

[code]

[2022-10-02 03:19] jmeistrich commented on #11
That is correct. It looks like it shows that error only when tsconfig is in strict mode? I think we need to improve the types to work better with strict.

[2022-10-02 07:52] jmeistrich commented on #11
If you want to contribute typing improvements it would be much appreciated ❤️. I don't have experience with strict mode so it'll take some time to understand what it's doing.

[2022-10-02 14:16] Pajn opened #12 "Inserting elements in the middle of an array doesn't work"
Using for example splice to insert an element in the middle of an array cases its and consecutive bindings to break/refer to the wrong element.

Sandbox:
https://codesandbox.io/s/legend-w-observable-forked-5s88ge?file=/src/App.tsx

Click the plus 3-4 times. Each time a new item gets inserted in the middle with a label of the total count.
Expected output after four clicks:
- item 1
- item 3
- item

[2022-10-02 14:23] jmeistrich commented on #12
Thanks, that definitely looks like a bug. It's late night here so I'll fix it and release an update tomorrow.

[2022-10-02 15:07] hirvesh opened #13 "Types error in strict: "Cannot invoke an object which is possibly 'undefined'""
Hello, I am trying to assign a value as per examples in docs as so:

[code]

However, TypeScript is throwing the error:

`Cannot invoke an object which is possibly 'undefined'.`

<img width="542" alt="CleanShot 2022-10-02 at 19 05 31@2x" src="https://user-images.githubusercontent.com/67500738/193461228-c346d6fd-dc25-44f7-91d5-28834639420c.png">

Not sure what is wrong here 🤔

[2022-10-02 15:12] jmeistrich commented on #13
This is an issue with `strict: true` in tsconfig. We will look at improving the types to work better with strict mode.

For now you should be able to fix this with:
`obs.assign?.({ text: "ok" });`

[2022-10-02 16:02] hirvesh commented on #13
Hey thanks - that worked!

However, I am facing another issue when importing and running the following on Expo:

[code]

![CleanShot 2022-10-02 at 20 02 34](https://user-images.githubusercontent.com/67500738/193463885-95ba9bfd-8dcf-4931-b8c8-699346f2a0f5.png)

[2022-10-02 16:12] jmeistrich commented on #13
It seems to have to do with us exporting .mjs files. I'm not sure what the correct solution is, will do some more research. If you google for: "can't import the named export from non ecmascript module" there's a bunch of solutions but I'm not sure which would solve this problem without a test repo. Can you try some of those solutions or share a repo so I can try it?

[2022-10-03 02:45] jmeistrich commented on #12
This should be fixed in 0.18.7, but please let me know if it's still not working or you have any other issues.

[2022-10-03 06:21] Pajn commented on #12
I still get the same issue in my app :/ In the sandbox above, changing version to 0.18.7 works for the first four items but then item 4 gets duplicated in the same way item 2 was previously so it ends up like this:
- item 1
- item 3
- item 4
- item 4
- item 4
- item 2

[2022-10-03 09:15] jmeistrich commented on #12
Ok, thanks for bearing with me! It seems to be actually fixed now :)

[2022-10-03 09:47] Pajn commented on #12
🥳 Seems to work now :)

[2022-10-03 09:47] #12 closed

[2022-10-04 13:18] ckruppe commented on #13
We have the same problem at work. For us strict mode is mandatory. And we think its not feasable to write always "get?.()". We looked in the typings a bit and the question arises: Why are get, set, assign and peek optional? Does it have to do with library internals?

[2022-10-04 14:50] sunny-mittal opened #14 "Encountered two children with the same key"
Hello,
I've noticed when using Legend that if I render (in React Native) a Text element with two pieces of state from an observable, I get a warning that two children with the same key were found:
[code]
They key that it warns about is an empty string and there's only one text element, but I think it has to do with how React Native virtualizes text components (so the two parts of the name become t

[2022-10-04 14:52] sunny-mittal commented on #14
Another option would be to destructure, which also "unwraps" the proxy and works:
[code]
This might be the better solution anyway as it's more readable. Still curious about the main issue though when you have time. Thanks!

[2022-10-04 15:21] jmeistrich commented on #14
Oh interesting! I will fix this in the next release.

What's happening is that rendering an observable directly creates a memoized self-updating text component with the key "". I hadn't even thought of having two of those within the same component, so that was a mistake. The fix will be simple, so I will get that in soon.

If you don't see any visible problems I think it should be ok to do as you

[2022-10-04 15:30] sunny-mittal commented on #14
Awesome, thank you so much! And thank you for being so fast to respond! Awesome project, by the way. The use of proxies is just brilliant.

[2022-10-04 15:32] jmeistrich commented on #14
Thanks! I hope it's working well for you other than this bug :). I'll just reopen this and close it when the fix is released.

[2022-10-04 16:58] todorone opened #15 "`persistObservable` doesn't work for primitive types"
`persistObservable` works if observable is `object` type only, but it will be very handy to use it for `string`, `number` and `boolean` observables

[2022-10-05 06:02] chakravarthi-bb commented on #14
I think the better way is to access raw values when rendering Text

[code]

@jmeistrich I don't think any fix is necessary but rather the mental model on How you render observable in React.

[2022-10-05 06:38] chakrihacker commented on #15
@todorone Which version are you using??

[2022-10-05 06:51] todorone commented on #15
Latest version - `0.18.8`
I use React

[2022-10-05 07:17] jmeistrich commented on #14
It's fixed already :). I just set key to `null` instead of `''`. https://github.com/LegendApp/legend-state/commit/69e1e563046774a0c6af2eec70f0c59b8df5b887

Which way is better depends on what you want, and there's tradeoffs. Rendering the observables directly as @sunny-mittal did would make the component not need to render, but it also implicitly creates auto-subscribing sub-components. If the par

[2022-10-05 07:21] jmeistrich commented on #15
Cool, this should be pretty easily doable. I'll try to get to it soon.

[2022-10-05 15:15] gaearon opened #17 "Document reliance on internals"
This library appears to significantly depend on React internals which aren't bound by semver.

I think it would be fair to add a notice that by taking it on as a dependency, you're making every React upgrade risky, and at some point might not be able to upgrade at all.

[2022-10-06 01:52] cabello opened #18 "Memo documentation is duplicate of Computed"
Hello,

Just found about legend-state from React Newsletter. Reading the docs it feels like you brought a core piece of Solid into React, excited to give this a try! 💜

I noticed the code sample for Memo is the same as Computed.

<img width="911" alt="CleanShot 2022-10-05 at 21 50 37@2x" src="https://user-images.githubusercontent.com/60936/194196437-5fd9247b-6942-422c-93d9-a83abc860ea3.png">

<img

[2022-10-06 01:54] cabello commented on #18
Never mind, the main branch already fixed this so the website is likely pending deployment.

https://github.com/LegendApp/legend-state/commit/ce8c48bf9b9cac2e367d6bab846d3c8708776758

[2022-10-06 01:54] #18 closed

[2022-10-06 10:54] jmeistrich commented on #17
As of 0.19.0 we've deprecated usage of internals and we will remove it completely in the next version.

Thanks for your feedback @gaearon!

[2022-10-06 10:54] #17 closed

[2022-10-06 10:55] jmeistrich commented on #14
This should be fixed in 0.19.0. But please let me know if you still encounter it. Thanks for the report!

[2022-10-06 10:55] #14 closed

[2022-10-06 12:14] nojaf opened #20 "How to create an Elm like hook?"
Hello, I'm wondering how I could leverage this project to create an Elm style (or reducerlike) hook.

Something along the lines of:

[code]

The model type in this simple example is just a number and my reducer function `update` takes in a message and creates a new model based on the received `msg`.

In this example, I get two new renders for each click, so I'm most likely missing the point somewh

[2022-10-06 19:36] willer-rodrigo opened #21 "Production-Ready"
Is legend-state production-ready? :)

[2022-10-07 03:22] jmeistrich commented on #21
Yes. We are using it in production for [http](https://bravely.io/) in a Next.js app and a React Native app.

As of version 0.19 there are no known major bugs or plans for big changes. We're just doing some more stress testing and documentation on the way to a version 1.0 now.

[2022-10-07 03:32] jmeistrich commented on #20
The reason it's rendering twice is because of the `get()` in the hook, which returns the raw value and subscribes for updates.  If you change that to

`return [model, dispatch];`

then the hook would return an observable without subscribing to updates. And then rendering the observable directly in `<div>Count: {model}</div>` would create a text element that re-renders itself.

As for the concept,

[2022-10-07 06:21] nojaf commented on #20
That makes sense, thanks for explaining!

I guess, I want something that comes close to [useReducer](https://beta.reactjs.org/apis/react/useReducer#usereducer).

[2022-10-07 08:03] MrFlashAccount opened #22 "Wrapping observable.set within startTransition breaks atomic updates"
Hi! `legend-state` is fantastic, and I love it!

I've been playing with your demo on codesandbox and found that wrapping `count.set(...)` in `startTransition`(means enabling concurrent mode) breaks atomic updates:  [link](https://codesandbox.io/s/legend-state-tree-forked-erbm91?file=/src/App.tsx).

https://user-images.githubusercontent.com/61194245/194503391-f4c2ab29-cb09-4d56-a491-fc7a36af9fb3.mp

[2022-10-07 08:24] jmeistrich commented on #22
Oh very interesting! Thank you for a good repro. We absolutely should support concurrent rendering so I will take a look at fixing it this weekend.

[2022-10-07 08:31] danstepanov opened #23 "legend-state not working with react-native"
## Expected Behavior

Implementing example from the documentation should run.

## Actual Behavior

![IMG_0DB66D0BDEFD-1](https://user-images.githubusercontent.com/5482800/194509166-a9efad65-a46e-47d1-a95d-8026bb4de2bb.jpeg)

Snack: https://snack.expo.dev/@danstepanov/legend-state

[code]

[2022-10-07 09:20] aaron-manning opened #24 "Docs: Add note about non-keyed benchmark"
Hi,

I was intrigued by the performance claims of this library and realised that you aren't comparing apples to apples with the 'optimized' [krausest](https://github.com/krausest/js-framework-benchmark) benchmark, seen here:

![image](https://user-images.githubusercontent.com/32957675/194518110-b1d8c898-f11d-4afc-ab60-0f6b1fafe867.png)

It appears to me that you are comparing a non-keyed implement

[2022-10-07 09:25] jmeistrich commented on #23
`useObservable` is in the `/react` export, so this works:

[code]

Is there somewhere in the docs that has the export in the wrong location?

[2022-10-07 15:48] alexstanbury opened #25 "Fast Refresh oddities"
[code]

I'm noticing observers being called an increasing number of times after fast refresh.

After a fresh reload I get the logs:
[code]

 if I save ComponentA.tsx without making any changes fast refresh triggers and I get an addditional single console.log:
[code]

If I then go and save ComponentB.tsx without making any changes fast refresh triggers and I get **2** console.logs with newer timest

[2022-10-07 16:26] jmeistrich commented on #25
I think this should be fixed in 0.19.3, but please let me know if it's still happening. Thanks for the report!

[2022-10-07 16:26] #25 closed

[2022-10-07 17:11] alexstanbury commented on #25
Thanks, that was fast! Confirmed it's fixed in 19.3.

[2022-10-07 17:22] jmeistrich commented on #20
I added a `useObservableReducer` in 0.19.4, similar to what you had but trying to support all of React's normal overloads. It basically looks like this:

[code]

Does it seem correct to you? I don't use reducers so I'm not 100% sure of all the ways to use them.

[2022-10-07 17:25] jmeistrich commented on #25
I think that actually makes sense since the observe is never cleaned up? I'm not an expert on all the intricacies of Fast Refresh though. Do you know of a way to fix that, to dispose it when the file refreshes?

[2022-10-07 17:51] ScottAwesome opened #27 "How does this compare to mobx, api wise?"
I'm seeing alot of similarities between this library and mobx, and I'm wondering what the future holds in this regard. (I admit I thought it was going to be based on rxjs style observables due to the nomenclature, but digging in further it appears to be very mobx-ish)

I think it would be good to compare the two, since the core APIs appear to be similar, and I even see some Flow constructs like mo

[2022-10-07 17:53] ScottAwesome opened #28 "Usage with State Machines"
I'm an avid user of [xstate](https://xstate.js.org/docs/) and I'm curious if there are any thoughts on how to integrate this with state machines? would you need to wrap observable values in a state machine and produce them as part of the machine or is there a cleaner way to approach integrating the two?

Combined, they seem like they could be very powerful (xstate drives the state change and invoc

[2022-10-07 18:01] jmeistrich commented on #27
The original inspiration was Knockout.js. When we switched Legend from that to React in 2015 I didn't like any of the state libraries at the time so I built an observable system loosely based on how we'd used Knockout. We've been iterating on that over the years until we rewrote it from scratch using Proxy, which turned into this library.

The observer HOC and a few of the api features like `when`

[2022-10-07 18:05] jmeistrich commented on #28
I have no experience with state machines so I'm not really sure where to start. You can get the raw data from an observable with `get()` or `peek()` so you should be able to plug that into any other system pretty easily?

I'd love to have a library of plugins/wrappers, and a hook into xstate or other kind of state machine system would be great! I'd be happy to chat with you more about that to help

[2022-10-07 18:28] ScottAwesome commented on #28
I'd be really interested in this, it'd be important for it to be able to interact seamlessly with the react integration, I imagine, right now it appears there is a bit of a tight coupling of assumptions between the core of `legend-state` and its React counterpart, that may be an initial challenge.

I am however open to working through this!

[2022-10-07 18:33] jmeistrich commented on #28
I tried to design the core to be platform agnostic so we can support other frameworks, so if there is any tight coupling in the core we should fix that...

I'd imagine on the react side it might use a different set of hooks, and maybe not even use the current React hooks/observer at all? But that should be totally fine.

Would you like to [DM me on Twitter](https://twitter.com/jmeistrich) and we c

[2022-10-07 18:37] danstepanov commented on #23
ah, I think I misread, thanks for clarifying. Can you provide a code snippet for the `useInterval` hook that you use throughout the documentation?

[2022-10-07 18:43] jmeistrich commented on #23
@danstepanov Ah good point, I added CodeSandbox links to the blog post, but I should probably add them to the docs too. Here's the `useInterval` hook: https://codesandbox.io/s/legend-state-tree-03bggb?file=/src/useInterval.ts

[2022-10-08 04:19] #22 closed

[2022-10-08 04:32] jmeistrich commented on #15
Fixed in 0.19.5, but please let me know if there's any more issues with it.

[2022-10-08 04:32] #15 closed

[2022-10-09 07:57] nojaf commented on #20
Many thanks!

[2022-10-09 16:22] lishine opened #30 "ObservablePrimitive as a react component prop"
I have this simple Input from chakra, essentially a regular html input.
See the typescript problem.

![image](https://user-images.githubusercontent.com/6741645/194767838-4a6dffd7-e586-4c3b-aa92-fa1a9ed30def.png)

I tried to do this:

[code]

but still get this error in the console

![image](https://user-images.githubusercontent.com/6741645/194767906-8e0599e5-d790-457d-a2b4-8ddea4786c4e.png)

Runni

[2022-10-09 17:11] jmeistrich commented on #30
This is because it's an instance of an ObservablePrimitiveClass, not a string, and React can't handle observables in props. The easiest way to solve it is to call `.get()` to get the value from the observable.

[code]

Alternatively you could wrap the Chakra input with `reactive` to give it reactive props. Then you could pass the observable to the reactive props (ending in $) like this:

[code]

S

[2022-10-09 20:25] lishine commented on #30
Thanks. I somehow missed that reactive props option...
(value.get() gets me again into that component rerendering land :( )

[2022-10-10 06:55] MrFlashAccount commented on #22
@jmeistrich

This 👆 is 🤯. New information for me. Thank you for the investigation!

[2022-10-10 10:35] todorone commented on #15
@jmeistrich works like a charm, thanks.

[2022-10-12 02:02] andrew-levy opened #32 "React Native components throwing error"
**Legend State Version: 0.19.7**

When trying to use the react native components from ` @legendapp/state/react-native-components`, I get the following error:

<img width="362" alt="Screen Shot 2022-10-11 at 9 44 12 PM" src="https://user-images.githubusercontent.com/29075740/195229658-45b534a5-aaa8-4c15-9dd4-d22af9d58ef5.png">

This is the code that caused it. I noticed that the react (web) compone

[2022-10-12 04:24] jmeistrich commented on #32
I'm reproducing that here. Will get a fix out asap.

[2022-10-12 06:00] jmeistrich commented on #32
This should be fixed in 0.19.8. But please let me know if it's still not working right.

[2022-10-12 06:00] #32 closed

[2022-10-12 13:09] lishine opened #33 "How to debounce"
How to debounce without rerendering the component?
This does not work, 'debounceLodash' printed only once, though value is changing:

[code]

[2022-10-12 13:15] jmeistrich commented on #33
The `value.get()` needs to be called within the context of the observe, but I think that would have it get called within the debounce instead, so it doesn't set up the tracking. I'm not sure exactly what you're going for, but I think this might work:

[code]

[2022-10-12 14:38] jmeistrich commented on #30
@lishine Can you share a repo or a codesandbox? I can try to fix the types to work better with chakra.

[2022-10-12 17:07] lishine commented on #30
Thanks.
Well, I created a nice vite codesandbox container, and it works fine...with types.
It is the same setup as my local vscode, but in local vscode all the the atributes of `ReactiveInput` are **any**
Will continue investigating...
shorturl.at/jLMS6

[2022-10-12 17:47] lishine commented on #30
Though the reactive wrapper has some problem: I would guess chakra context not passing (the input field padding)
https://shorturl.at/jlpEU

[2022-10-12 17:48] lishine commented on #33
So the .get() will not work in setTimeout...

This solution is working
https://shorturl.at/jlpEU

[2022-10-12 18:37] jmeistrich commented on #30
@lishine Did the links stop working? I looked at it an hour ago and just clicked it again and it just goes to the short url homepage.

[2022-10-12 22:44] chrisjfunk opened #34 "issue with typescript strict mode and observable primitives"
when exporting an observable from a module typescript (strict mode) complians about not being able to name used types

ie
export const valid = observable(true)

gives the below error:

![image](https://user-images.githubusercontent.com/18413/195460382-c8cbe6db-42db-400e-a902-a973dad6b8aa.png)

exporting the types makes this error go away:

**export** interface ObservablePrimitiveFnsBase<T> extends

[2022-10-13 00:42] jmeistrich commented on #33
@lishine That link seems to be broken

[2022-10-13 05:29] lishine commented on #33
[link](https://codesandbox.io/p/sandbox/awesome-stitch-lph063?file=%2Fsrc%2FApp.tsx&workspace=%257B%2522activeFileId%2522%253A%2522cl95kkaob001dluip2lke5s20%2522%252C%2522openFiles%2522%253A%255B%2522%252FREADME.md%2522%255D%252C%2522sidebarPanel%2522%253A%2522EXPLORER%2522%252C%2522gitSidebarPanel%2522%253A%2522COMMIT%2522%252C%2522sidekickItems%2522%253A%255B%257B%2522type%2522%253A%2522PREVIEW%

[2022-10-13 05:31] lishine commented on #30
[link](https://codesandbox.io/p/sandbox/awesome-stitch-lph063?file=%2Fsrc%2FApp.tsx&workspace=%257B%2522activeFileId%2522%253A%2522cl95kkaob001dluip2lke5s20%2522%252C%2522openFiles%2522%253A%255B%2522%252FREADME.md%2522%255D%252C%2522sidebarPanel%2522%253A%2522EXPLORER%2522%252C%2522gitSidebarPanel%2522%253A%2522COMMIT%2522%252C%2522sidekickItems%2522%253A%255B%257B%2522type%2522%253A%2522PREVIEW%

[2022-10-13 05:48] pavelrotek opened #35 "react 18"
Hi Jay, does the library work with react 18 concurrent features? Are there any problems?

[2022-10-13 06:26] hadnet commented on #13
Hey, @jmeistrich I got same error type as @hirvesh, no types definitions at all when importing components from @legendapp/state/react, any solution on this?

[2022-10-13 06:31] jmeistrich commented on #35
As far as I am aware it works with the concurrent features. But I don't really use them myself so it's possible I missed testing an edge case. if you encounter any issues let me know and we should be able to fix them quickly.

[2022-10-13 06:56] a554878526 opened #36 "I started a demo with Create-react-app, and for some reason, it didn't work"
<img width="611" alt="image" src="https://user-images.githubusercontent.com/70568691/195523800-469d013f-c2c9-4532-9413-76c4bdce23d6.png">

<img width="998" alt="image" src="https://user-images.githubusercontent.com/70568691/195523645-d8c81e4f-577e-4235-90cd-0354cb3aba68.png">

<img width="431" alt="image" src="https://user-images.githubusercontent.com/70568691/195523905-6bf27759-8384-4518-8267-0ff

[2022-10-13 07:12] jmeistrich commented on #36
You just need to call `enableLegendStateReact()` to enable rendering observables directly. See https://legendapp.com/open-source/state/react-basics/#rendering-directly

[2022-10-13 07:56] a554878526 commented on #36
https://github.com/LegendApp/legend-state/issues/36#issuecomment-1277134249

Thank you for your wonderful reply. Thank you. Your library looks great!

[2022-10-13 07:56] jmeistrich commented on #36
I'm going to change it in the next version to enable it when anything is imported from the `/react` export so that should be easier :)

[2022-10-13 09:41] #36 closed

[2022-10-13 12:40] jmeistrich commented on #13
@hadnet I haven't had a chance to look into it yet. If you have time to look into it can you try some of the solutions found by googling the error? That would help a lot with being able to track down the problem.

Otherwise I will try to look into it soon.

[2022-10-13 13:27] jmeistrich commented on #33
I'll close this since I think it's solved, but let me know if I missed something.

[2022-10-13 13:27] #33 closed

[2022-10-13 13:27] #21 closed

[2022-10-13 17:49] Nipodemos opened #37 "Do you guys have an "examples" section or a project using this state manager?"
to be honest i'm still quite a nub with react with typescript, and when i tried use your state manager to fetch some data with the `fetch` function, I just couldn't make it work. Do you have some examples so I can read?

[2022-10-13 18:18] jmeistrich commented on #37
The closest thing right now is the examples in https://legendapp.com/open-source/legend-state/ or the documentation at https://legendapp.com/open-source/state/. As the API is stabilizing now and we're getting ready for a 1.0 release, a top priority is to build a page of larger examples.

But please feel free to post your non-working example and I can help you make it work, and we might end up usin

[2022-10-14 07:18] jmeistrich commented on #13
This seems to be a problem with Expo Web not supporting .mjs files. It can be fixed with this:

Add a `webpack.config.js` file at the root of the Expo project containing this:

[code]

I'll update the docs to include something about this, and look into changing the exports in a future version to hopefully not need this.

[2022-10-14 11:36] jmeistrich commented on #30
@lishine The issue with chakra should be fixed in version 0.20.0. But please let me know if there's still any issues.

[2022-10-14 11:36] #30 closed

[2022-10-14 11:37] #35 closed

[2022-10-14 14:39] lishine commented on #30
Great!

[2022-10-17 09:03] ckruppe opened #38 "Docs: Removing property from observable with delete()"
I try to create an observable state with dynamic properties.
Adding an new property to the observable works like a charm but removing is not possible.
Is there a way to remove properties from an observable after it was set?

[2022-10-17 10:08] jmeistrich commented on #38
You can call `delete()` on any observable to delete it. So you can do `obs[key].delete()` to delete a property from an observable.

[2022-10-17 10:18] ckruppe commented on #38
Nice thanke you very much. :) Did not find any information to that on your docs.
Btw. your state lib is awesome.

[2022-10-17 10:27] jmeistrich commented on #38
Good point! We should add that to the docs.

[2022-10-17 11:06] Manc opened #39 "`getPrevious` does not work for Array changes"
First, thank your for your great work! I'm currently trying to integrate this library into my new web app – and trying to get my head around the concept/usage and the types. I do have a few issues understanding, but one thing at a time. I'm using React.

I have an `Array` of items that can be rearranged by the user. I use `state.onChange` and its `getPrevious()` function to look for certain change

[2022-10-17 11:06] Manc opened #40 "Add index to function in `For` component"
I'd find it convenient if the `For` component would expose an item index, similar to what `Array.map`, `Array.forEach`, etc. do in JavaScript. I don't know if there is a reason for not having it.

In my [Sandbox example](https://codesandbox.io/s/legend-w-observable-forked-mjsd91?file=/src/App.tsx) I use `useSelector()` to build a `Map` to map the IDs of Array objects to their current index numbers

[2022-10-17 11:06] Manc opened #41 "Improve documentation and examples for Array"
As a beginner with this library, I find it quite complicated and confusing when to use the Observable (Proxy?) and when to use the actual data one would get by calling `.get()` or `.peek()` on the Observable.

The page in question: https://www.legendapp.com/open-source/state/arrays/

For example, when I use `.splice()` as mentioned in the documentation, it's not clear which one to use:

    obs.ar

[2022-10-17 11:24] Manc opened #42 "Improve typing of `item` in `For` component"
I'm not quite sure why, but the TypeScript typing of the item argument inside the `For` component seems to not recognise the type of the list as provided to the `each` argument.

Screenshot taken from my [example](https://codesandbox.io/s/legend-w-observable-forked-mjsd91?file=/src/App.tsx:1992-2018):

<img width="1176" alt="Screenshot 2022-10-17 at 12 23 35" src="https://user-images.githubusercon

[2022-10-17 11:41] Manc commented on #39
I think I found the cause of the problem myself. In my example, in line 70 I `get()` the array, then modify it direcly, then `set()` it. If I make a copy of the array that I get from `get()` (e.g. `const items = [...obs.list.get()]`), it works as expected. By modifying the array in my code (lines 72-73), I seem to modify directly what's in the state. I guess I can close this issue myself, but it s

[2022-10-17 12:35] Nipodemos commented on #37
Thank you for the answer and sorry for the delay. I actually don't have the code anymore because I was just playtesting at the moment. Just to clarify it didn't work but only because I did not knew how to write, but now i've noticed that there is a fetch example in the blog.

Anyway, thank you for this library and for giving support, definitely gonna try it out better this library

[2022-10-17 13:35] jmeistrich commented on #40
Hmm yes, that would certainly be more convenient! It doesn't currently provide the index because in the `optimized` behavior the element can re-render itself at a new index without the parent list rendering, which means the For component can't provide a reliable index prop to the child. I'll try to figure out another way to do it. The observable node knows its own index so it should be possible -

[2022-10-17 13:38] jmeistrich commented on #41
The way you did it in the example is the best way to do it. It is possible to call splice on the observable array but in this case that would involve running some processing twice, so keeping it to one `set()` is best.

You're right - that is a mistake. We'll improve that doc page soon. Thanks!

[2022-10-17 13:41] jmeistrich commented on #39
Hmm yes, this can be improved. It does save a copy of the original array before applying the change so we should be able to pipe that through to `getPrevious`. I'll reopen this because it should be fixable.

[2022-10-18 03:08] dwkim-97 opened #43 "Tracing seems like not working in React component"
Hi, I'm practicing with docs.
I think something wrong with Tracing for React Component

![image](https://user-images.githubusercontent.com/62870938/196326304-c450a1aa-6460-4c2c-b76f-183541481f5c.png)
<img width="429" alt="image" src="https://user-images.githubusercontent.com/62870938/196326326-30813b11-634b-40f5-8796-12cb12b2e17b.png">

do I have to do something for Tracing in React Component dire

[2022-10-18 06:33] Manc commented on #42
I may give it a try soon. It's probably best to familiarise myself a bit more with the whole concept first.

[2022-10-18 15:50] Manc commented on #42
Just to give you an update, today I made an attempt to improve typing with TypeScript strict mode (I always use strict mode in my projects as it massively helps to avoid runtime errors). Unfortunately I don't have a presentable result yet as a lot of code in this library is not strongly typed and me being still new to it, I find it difficult to figure out what some of the code actually does.

Just

[2022-10-18 16:15] jmeistrich commented on #42
Thanks! This is great! I'm learning a lot from your changes. I agree that it would go good to strengthen it step by step. We can pull in just a couple commits at a time if you want?

NodeValue is a bit weird because the root node does not have a parent or a key, but every other node does. It may be better to have the root node be a different type so all the other nodes can be typed more strongly?

[2022-10-19 11:11] Manc commented on #42
Thank you for your feedback. I made a few more changes. I would have loved to make individual small changes that I could submit as pull requests, but since I'm messing around with many parts of the library that all work together, I touched many parts at once. So for now, it's still a bit of a mess, I'm afraid.

A few notes/explanations regarding my changes so you better understand what I was doing

[2022-10-19 11:46] jmeistrich commented on #42
Awesome, these changes make sense to me. Just one issue:

[[a61f69b](https://github.com/Manc/legend-state/commit/a61f69b3685ca147918c1db1aabd06fcd1005d3c)]: I'd rather leave it as not a class - I actually converted it from a class a little while ago because it's smaller and faster as a prototype object (please correct me if I'm wrong). But I think it's possible to export its type as if it's a clas

[2022-10-21 06:59] Manc commented on #42
Regarding the class: You're absolutely right – keep it a prototype object. I had no idea and the only reason I changed it was, because it *seemed* cleaner, but since this library is all about performance, I agree with you.

I have been busy integrating the library into my project. I think it's quite important, because I'm still learning a lot about it whilst working with it in a real project. I wi

[2022-10-24 16:39] hckhanh opened #44 "Missing Legend.path"
I think there are some missing tag for SVG's tags.

[2022-10-24 16:44] jmeistrich commented on #44
Oh yes, I'll add those tags. They should actually work even though the types are missing. But I'll release an update with them included in the types tomorrow.

[2022-10-24 16:51] jmeistrich commented on #44
It's fixed in version `0.21.1-next.1` if you want to try it now, but I'll release a normal update tomorrow (after finishing testing a change to `useComputed` I was working on).

[2022-10-24 21:46] rares-lupascu opened #45 "React Native - auth and guest stacks"
so on most of my react-native projects i use react-navigation and there is a need for 2 stacks that conditionally render based on the user being authenticated or not. the way i currently achieved this by doing:

[code]

is there a better / recommended way of doing this?

[2022-10-25 06:09] hckhanh commented on #44
Thank you @jmeistrich, I will try it now.

[2022-10-25 07:07] chakravarthi-bb commented on #45
Maybe you can utilize `Show` Component

[2022-10-25 07:35] jmeistrich commented on #45
Unfortunately React-Navigation throws errors if children of `Stack.Navigator` are not `Stack.Screen`, so we can't use any other components there. So you could do it this way or make the whole component an `observer`, and then you wouldn't need the `useSelector`.

[2022-10-25 08:43] prbxr opened #46 "Inserting opaque objects"
I would like to put fabric.Canvas in an observable.
#6

[2022-10-25 11:24] jmeistrich commented on #46
I'm curious - what's the use case for that?

[2022-10-25 11:46] jmeistrich commented on #44
Fixed in `0.21.1`. Let me know if you have any further issues with it.

[2022-10-25 11:46] #44 closed

[2022-10-25 11:47] #45 closed

[2022-10-25 13:31] prbxr opened #47 "For Typing"
The item is mistyped.

[code]

[2022-10-25 13:35] prbxr commented on #42
#47

[2022-10-25 14:16] attiqeurrehman commented on #20
@jmeistrich any documentation for it?

[2022-10-25 16:54] kylegillen opened #48 "Does it work with react-query?"
Hi. Great library!

I saw your fetch example in the docs which uses the `useObservable` hook and fetch.
Any way to employ this with react-query's `useQuery` and other hooks?

[2022-10-25 17:07] jmeistrich commented on #20
@attiqeurrehman Oh I forgot to add that to the docs! I'll add that to my todo list and reopen this issue until it is documented.

But it should be pretty straightforward in theory - use it as you would use `useReducer` but it returns an observable instead of a raw value as the first element of the array. Are you finding it to be doing something strange?

[2022-10-25 18:52] nextriot opened #49 "React Native Switch component how to update state?"
I've tried a couple variations and can't figure out how to make the switch component react to the toggle event. I assumed like `input` it would update on its own and update the observable, but it doesn't seem to work that way.

Here's what I've tried:

[code]

I'm not sure how to update the state, or listen and react to state updates.
I've also tried not setting the value in `handleValueChange` wh

[2022-10-25 19:39] nextriot commented on #49
Managed to get it to work using the native event handler:

[code]

I assume that's how it's intended to work?

[2022-10-25 21:49] #47 closed

[2022-10-25 22:34] ansh commented on #5
Would really appreciate this update!

[2022-10-26 04:11] jmeistrich commented on #49
Ah, sorry about that. There was a mistake in the Switch binding which is fixed now in 0.21.2. So you can use it without the change handler as expected.

[code]

Also a little note on style: you can use the regular `style` prop if you're using a static style object. `style$` lets you pass a function that returns a style object based on observable values.

[2022-10-26 04:11] #49 closed

[2022-10-26 10:28] ckruppe opened #50 "useObservable does not work with prefilled arrays."
Following does not work:

[code]

an click on the button gives this error:

"Uncaught TypeError: Cannot read properties of undefined (reading 'get')
    at updateNodes (index.mjs?8ffd:528:1)
    at setKey (index.mjs?8ffd:819:1)
    at set (index.mjs?8ffd:756:1)
    at Proxy.eval (index.mjs?8ffd:655:1)
    at eval (index.tsx?83a8:42:22)
    at commitHookEffectListMount (react-dom.development.js?ac8

[2022-10-26 10:42] jmeistrich commented on #50
Thanks! Fixed in `0.21.3`

[2022-10-26 10:42] #50 closed

[2022-10-26 11:15] attiqeurrehman commented on #20
@jmeistrich thanks for the quick reply. I am having trouble with reducer actions:

[code]

how it will look with the observable?

[2022-10-26 12:08] jmeistrich commented on #20
You should be able to just replace the `useReducer` call like this:

[code]

Is that not working? If not, if you can post a codesandbox or a full example with expected results for me to test with, that would be very helpful to track down the problem!

[2022-10-26 12:26] attiqeurrehman commented on #20
Here is the [codesandbox ](https://codesandbox.io/s/flamboyant-feather-viwu0j?file=/App.js)but I am getting the following error:

[2022-10-26 12:38] jmeistrich commented on #5
Just a quick status update: the firebase plugin is close to complete but heavily in flux as [Bravely](https://bravely.io/) is getting close to a release. Some of the recent updates here to `persistObservable` and the new `trackHistory` feature were built for that. Once we finish the Bravely release, we'll do a bit of cleanup and move it into this repo :). Hopefully that will be within a couple of

[2022-10-26 13:10] jmeistrich commented on #20
@attiqeurrehman Got it, thanks. I'll fix that soon and let you know.

[2022-10-26 16:32] jmeistrich commented on #20
Fixed in `0.21.4`. But just one other thing on your example - the component needs to be an `observer` to re-render itself when the value of the observable changes. I made that change and updated the version in package.json in https://codesandbox.io/s/dreamy-estrela-letwfi.

[2022-10-26 18:26] attiqeurrehman commented on #20
@jmeistrich that was fast and awesome!

[2022-10-27 04:14] princed commented on #48
This is naive hook I've been using with [Urql](https://github.com/FormidableLabs/urql), and I'd be grateful for any feedback.

[code]

[2022-10-27 04:31] princed commented on #48
One problem I'm having with it is that deeply nested fields that don't exist at the time of first render don't get observed and subsequently re-rendered after they merged into observable.

Example:
[code]

[2022-10-27 07:58] jmeistrich commented on #40
@Manc I added a `getObservableIndex` function in version `0.21.5`. Let me know how that works for you 😀

[2022-10-27 07:58] #40 closed

[2022-10-28 03:00] hckhanh commented on #48
This is my concern too
Most of data I need to process will come from react-query.

[2022-10-28 03:01] hckhanh opened #51 "Sometimes `when` is not triggered"
Sometimes, when I try to navigate between my routes, the state changes but the `when` function is not triggered. I am using react-location (Data API). Now I have to switch to `authorization.state.onChange`

[code]

[2022-10-28 03:02] hckhanh commented on #51
I will come up with demo later.

[2022-10-28 03:05] princed commented on #48
@jmeistrich Thank you very much for the feedback!

Great catch, those were some leftovers!

Strict mode doesn't play well with Legend at all unfortunately, I spent some time trying to fix that, but eventually gave up.

This actually the most interesting to me question at this stage. Yes, the new data is going to overwrite the old data, but if we do that, will it trigger changes all over the tree d

[2022-10-28 04:52] jmeistrich commented on #42
@Manc How are things going? I want to start making some improvements to strict mode soon and I would love to use a PR from you as a starting point if you'd like? We can do it one commit at a time if you had large changes that weren't finished?

[2022-10-28 04:53] jmeistrich commented on #48
@princed It will only trigger changes on branches that are different.

We will be improving strict mode support soon. There's some progress already in https://github.com/LegendApp/legend-state/issues/42

[2022-10-28 04:58] Manc commented on #40
Thank you very much! I'm upgrading now. Will let you know shortly. :)

[2022-10-28 05:00] jmeistrich commented on #48
We're working on adding a library of helpers and hooks, which will be in the next update. From there we can start adding more hooks like a react-query one.

But I'm quite overwhelmed by the docs - react-query does a lot! Are you mainly interested in wrapping `useQuery` to return an observable, and to not trigger re-render on changes? Or can you describe more of how you'd want an observable wrapper

[2022-10-28 05:07] jmeistrich commented on #51
`when` can be a bit confusing because it only triggers once. Once it's triggered it disposes its listeners. Is that the issue that you're seeing? If so you may be better off using `observe` to trigger whenever it changes, so this example using `observe` could look like:

[code]

Or if that's not the problem, a demo will be very helpful to track it down 😎

[2022-10-28 07:18] Manc commented on #40
I've upgraded the package in my project and used the new `getObservableIndex` – it works perfectly. Thank you!

[2022-10-28 08:53] Manc commented on #48
Just a comment… I use React Query quite a bit. For the project I'm currently working on, I also used React Query, but since I switched to this Legend State library, I found myself abandoning React Query in more and more places.

My dilemma is this: In an app one usually wants to have a single source of truth for the data within the app. Using Legend State, that state becomes the single source of t

[2022-10-28 09:43] jmeistrich commented on #48
I think if we just want to read-only from React Query ("RQ") it would be pretty trivial to make a hook that puts fetched data into an observable, as @Manc said. It could be pretty easy to also support mutations - the hook could observe the LS observable for changes and handle the `useMutation` internally? Something like:

[code]

Ideally a user of the LS hook should not have to worry about the RQ

[2022-10-28 09:51] jmeistrich commented on #48
There might also be some value in creating an LS hook that does some of the basics that people use RQ for? I just added a `useFetch` hook in `0.21.6` that just wraps around the lifecycle of the promise and exposes `{ data, error, loading }` as an observable, which works like this:

[code]

Maybe a hook with a few more features like retries and mutations could be a useful minimal alternative to RQ?

[2022-10-29 10:35] hckhanh commented on #51
Hi @jmeistrich, here is my full implementation with `when`:

[code]
I forgot to tell you I persisted the observable before the `when` is loaded.
Now It works as I expected after I move the `persistObservable` to the bottom, to make sure the `when` statements are loaded before persisting the state.

[2022-10-29 13:17] Manc opened #55 "React test is failing"
Just a quick note, you may have already noticed this: one test in `react.test.ts` is failing.

[2022-10-29 13:20] Manc commented on #55
Also, the import from `src/` at the top of this file doesn't work for me.

[code]

[2022-10-29 14:06] jmeistrich commented on #55
Ah yes, thanks! I always run tests before a release but I should make sure to do that before pushing changes in progress to github late at night 😂

[2022-10-29 14:06] #55 closed

[2022-10-29 14:07] jmeistrich commented on #51
@hckhanh Was there a bug in `when` if it's in a different order? Or does it just need to be documented better?

[2022-10-29 14:24] jmeistrich commented on #42
Closing this issue in favor of a larger discussion of strict types in https://github.com/LegendApp/legend-state/discussions/53

[2022-10-29 14:24] #42 closed

[2022-10-29 15:53] jmeistrich commented on #46
@prbxr I added an `opaqueObject` helper in `0.21.6`.

[code]

This will make `canvas` work effectively as a primitive, so you can `obs.canvas.get()` and `obs.canvas.set(...)`. And changes within the canvas won't fire any change listeners.

How does that work for you?

[2022-10-29 15:54] #46 closed

[2022-10-29 16:24] jmeistrich commented on #39
Digging into this a bit further I realize I hadn't originally looked closely enough at your example. As you said, since `get()` returns the original array, modifying it modifies the array in state, so when you call `set` you're setting it to what it already is.

I don't think there's anything to fix there since we don't want to be cloning on `get()` so I think we just need to clarify it in the doc

[2022-10-29 16:24] #39 closed

[2022-10-29 20:09] Manc commented on #39
As far as I remember, the Redux docs were very clear that objects/arrays should always be copied before merging changes into the state or even before using/modifying them. It would probably make sense to stress that in the docs here too. Maybe get() and peek() should even return a Readonly type?

[2022-10-30 00:17] hckhanh commented on #51
@jmeistrich, I had a problem with the order of `persistObservable`. For `when`, i think that it should be documented better to make it less confusing.

[2022-10-30 03:28] jmeistrich commented on #51
@hckhanh If there's a bug when using `persistObservable` and `when` in a different order, we should fix that. Can you share an example of it not working?

[2022-10-30 03:44] GoldingAustin commented on #28
@ScottAwesome I experimented with this idea (thank you for the fantastic library @jmeistrich) and published [legend-xstate](https://www.npmjs.com/package/legend-xstate), which integrates `legend-state` with `xstate`, and `@xstate/react`

`xstate` presents a few challenges with integrating Proxy based context:

- All context updates create a new root context object, which overwrites the observable

[2022-10-30 05:53] hckhanh commented on #51
@jmeistrich, I try to reproduce but I did not see any problems.
Maybe I get that weird issue with HRM when I run with Vite in development mode.

https://codesandbox.io/s/jovial-star-dg2hho?file=/src/App.js

[code]

[2022-10-30 06:40] jmeistrich commented on #51
@hckhanh Ok great, I've added to my todo list to document when better, so I'll close this issue. If you reproduce a bug with this please let me know.

I get that warning with HMR too, but it's nothing to worry about. It's on my todo list to try to fix but it's not causing any issues as far as I can tell.

[2022-10-30 06:40] #51 closed

[2022-10-30 06:42] hckhanh commented on #51
@jmeistrich, I think that the order of `persistObservable`  and `observe` does matter.
You can follow my demo: https://codesandbox.io/s/jovial-star-dg2hho?file=/src/App.js

When I put `persistObservable` between `when` and `observe`. I will get this result:

[code]

But when I move `persistObservable` to the end of the initialization, I get this:

[code]

[2022-10-30 08:54] jmeistrich commented on #51
@hckhanh Ah ok, I think that is the expected behavior. `persistObservable` loads the cached value into the observable immediately, so it's effectively the same as calling `state.token.set("tokenvalue")`.

So if you persist it before the `observe` then it will
1. call the `when` function as the token loads from persistence
2. create and run `observe`.

But if you persist it after, then it
1. runs `

[2022-11-01 08:04] SMhdAsadi opened #57 "Add ability to use multiple instances of MMKV in persistObservable"
With current implementation, only one instance of storage for MMKV is used. MMKV supports [multiple instances](https://github.com/mrousavy/react-native-mmkv#create-a-new-instance). It would be awesome to add this capability to persistObservable function.

[2022-11-01 14:40] attiqeurrehman opened #58 "Render count is high with useObservableReducer"
Hi,

I have tried your [example ](https://codesandbox.io/s/github/attiqeurrehman/legend-state-tasks-with-reducer)of using observable with reducer but the render count is still high as compared to using it directly with [API](https://codesandbox.io/s/vigorous-zhukovsky-m35t82).

Maybe I am missing here something?

[2022-11-01 15:49] jmeistrich commented on #58
@attiqeurrehman That first example doesn't seem to use legend-state at all? Do you have a different codesandbox that uses `useObservableReducer`?

[2022-11-01 17:10] todorone opened #59 "RN cycle dependencies warning"
In `react-native` project, that uses `pnpm`(not sure whether it's pnpm-specific), i've got such a warning:

[code]

This is not critical, but it would be nice to remove this for more comfortable RN use.

[2022-11-02 00:20] hckhanh opened #60 "`For` is not compatible with TypeScript"
Hi @jmeistrich, I try to use the array with `For` but it does not work.

[code]

I get this error

[code]

I try to cast the `item` variable with `ObservableObject<{ id: string; name: string }>` and get this:

[code]

[2022-11-02 02:49] jmeistrich commented on #60
@hckhanh Are you in TS strict mode? We had been working on this in https://github.com/LegendApp/legend-state/issues/42 but moved it to a discussion in https://github.com/LegendApp/legend-state/discussions/53. We will try to fix it soon, but if you're a TS expert a PR would be very much appreciated!

[2022-11-02 02:51] jmeistrich commented on #59
Does it say `react.js` is requiring `react.js`? That seems odd... Can you try updating to `^0.21.8` and see if it's fixed in the latest version?

[2022-11-02 08:04] attiqeurrehman commented on #58
Thanks I have fixed the link.

[2022-11-02 09:19] jmeistrich commented on #58
This line makes App re-render every time `observableTasks` changes:

[code]

So you'd want a mixture of your examples, where you pass the observable down to TaskList and use `For` to render it. I made a couple tweaks to do that: https://codesandbox.io/s/great-austin-yr0bbh?file=/src/App.js

However it doesn't seem to update when editing. I'm not very familiar with the reducer pattern so it may nee

[2022-11-02 10:16] attiqeurrehman commented on #58
Thanks for pointing it out. I will check out the `onChange` and let you know.

Since we already have a running application and I am just exploring if observable can be used and how much effort it will be so if it's just decorating the reducer or components it's fairly easy and very little effort. Reducer/ redux is easy to grasp in the sense that logic is moved to outside react components and makin

[2022-11-02 11:55] attiqeurrehman commented on #48
any idea on the timeline for the hook for react-query?

[2022-11-02 12:49] todorone commented on #59
@jmeistrich Yeah, that's copy-pasted message from RN console, and 0.21.8 still throws. If the issue can't be reproduced on clean project with yarn/npm, than the issue is probably somewhere in-between `pnpm`/`Metro`. Feel free to ignore then, it may be loosely related to legend state.

[2022-11-02 14:30] jmeistrich commented on #58
That's a great reason!

[2022-11-02 14:39] jmeistrich commented on #59
I think this should be fixed in `0.21.9`. There were some files within the `/react` export that were importing from the `/react` export (because they had been moved from a different export and I forgot to change that), so the built file was importing from itself.

[2022-11-02 14:39] #59 closed

[2022-11-02 14:48] jmeistrich commented on #48
I need more information before I can start on this. I can figure it out by reading docs/articles and watching videos but I don't have bandwidth for that at the moment (my immediate focus is on documentation and getting to 1.0). If you could help me with these things it would be super helpful:

1. What features of react-query would you want to be supported? Wrapping around `useQuery` should be pret

[2022-11-02 14:57] attiqeurrehman commented on #48
1. By creating wrapper around the useQuery and useMutation, we can complete most of our usecases.
2 & 3. I can try working on some code sandbox and share it with you for some feedback.

[2022-11-02 16:30] attiqeurrehman commented on #48
checkout [this](https://codesandbox.io/s/keen-glitter-s9h13q?file=/src/index.jsx) simple wrapper.

[2022-11-02 19:39] todorone commented on #59
@jmeistrich The issue was resolved, thanks.

[2022-11-02 19:56] jmeistrich commented on #48
Thanks @attiqeurrehman!

I am working on a prototype now. It turned out that the hard thing to solve is changing the behavior of `userQuery` to not re-render the component. I have a prototype that seems to work, but requires a couple of changes to the core, so I'll test it some more tomorrow and post it here when it works.

[2022-11-02 21:14] attiqeurrehman commented on #48
I don't know if it helps but react-query have an [observer](https://tanstack.com/query/v4/docs/reference/QueryObserver) for query as well.

[2022-11-03 02:39] jmeistrich commented on #48
@attiqeurrehman That is very helpful, thanks!

[2022-11-03 05:44] jmeistrich commented on #48
I have a prototype working in this [sandbox](https://codesandbox.io/s/legend-state-useobservablequery-0w1yil?file=/src/useObservableQuery.ts).

In the sandbox I have 3 examples:
1. Basic using `observer`: It re-renders whenever the query data changes, so it's basically equivalent to `useQuery`.
2. Optimized using `Switch` and `Show`: The individual elements re-render themselves whenever their data

[2022-11-03 09:20] #58 closed

[2022-11-04 01:03] hckhanh opened #62 "Cannot `set` in `useEffect`"
When I upgraded from `0.21.8` to `0.21.10`, everything is not going to work, I have many logic that set the legend's state inside `useEffect`.
Since my logic is connected to other source of state outside legend's state
https://codesandbox.io/s/modern-firefly-oup5hk?file=/src/App.js

[2022-11-04 03:37] jmeistrich commented on #62
I'm confused - the example looks like it's working? What is the problem you're seeing?

[2022-11-04 05:40] hckhanh commented on #62
Maybe My PC has a problem, I saw it did not count in this morning. Well 😞

[2022-11-04 05:40] #62 closed

[2022-11-04 06:07] pavelrotek commented on #62
Hi jay, i just tried Khanh´s example on my mobile phone and see double increment.

https://user-images.githubusercontent.com/20819654/199902331-2d23b857-e334-46bb-a5b7-352f85375fb3.MOV

Do you think it has something to do with react 18 double rerender in dev mode? Maybe there should be some react 18 gotchas section in legend-app docs

Pavel

[2022-11-04 06:08] jmeistrich commented on #62
@pavelrotek Yes, I'm pretty sure that's what it is, because it starts a setInterval in useEffect which runs twice in dev mode.

[2022-11-04 16:50] jmeistrich commented on #57
I just added this in the latest commit but it's very late so I'll wait until tomorrow to release an update.

[2022-11-05 04:11] jmeistrich commented on #57
Added in `0.21.11`.

[2022-11-05 04:11] #57 closed

[2022-11-05 04:14] jmeistrich commented on #48
I added the a `useObservableQuery` hook in `0.21.11`. Use it like this:

[code]

I'll add more details to the documentation site soon.

Let me know how that works for you? Is it missing anything?

[2022-11-06 20:45] nextriot commented on #48
This looks great! Any chance of making one of these for `infiniteQuery`?
https://tanstack.com/query/v4/docs/guides/infinite-queries

[2022-11-10 06:32] GigaBigBoss opened #65 "Doesn't work on mobile web"
Thanks guys for including this somewhere as I just found out after swapping nearly everything to legend state it just doesn't work on mobile brilliant 12/10. 👍🏻

[2022-11-10 06:39] #65 closed

[2022-11-10 06:39] GigaBigBoss commented on #65
nvm im dumb

[2022-11-10 08:29] jmeistrich commented on #65
What was the problem? Is there something that's not intuitive or we need to document better?

[2022-11-12 15:07] jmeistrich commented on #48
FYI this hook was a bit unstable in some configurations but seems pretty solid in `0.21.16`. And there's now an example on the docs page: https://legendapp.com/open-source/state/react-examples/#auto-saving-form

Please let me know if you find any issues with it.

[2022-11-15 12:20] mfbx9da4 opened #66 "FlatList example"
Hey a FlatList example would be very useful!

[2022-11-15 12:23] mfbx9da4 opened #67 "Documentation import issue"
https://legendapp.com/open-source/state/reactive-props/

[code]

Demo https://codesandbox.io/s/legend-state-primitives-forked-v1ery2?file=/src/App.tsx

[2022-11-17 08:32] jmeistrich commented on #67
@mfbx9da4 That was changed to uppercase in version `0.21` but I had forgotten to update the package.json version in the codesandboxes. I've updated all the sandboxes now to use `0.21.17`. If you update your fork to the latest `@legendapps/state` version it should work correctly.

[2022-11-17 08:32] #67 closed

[2022-11-17 15:53] #60 closed

[2022-11-17 15:55] jmeistrich commented on #13
This types error should be fixed in `0.21.18`. Please let me know if it's still not working.

[2022-11-17 15:55] #13 closed

[2022-11-17 15:57] jmeistrich commented on #34
We've done a lot of improvements to the types recently so hopefully this is fixed? Are you still having this issue as of `0.21.18`? If so can you share some more code of the error?

[2022-11-20 14:31] SMhdAsadi opened #68 "Auto import doesn't work in VS Code"
Every time we should type imports by hand and VS Code doesn't help us with imports.
Is this a problem with library or VS Code? I tested this in several computers and none of them work.

[2022-11-20 14:35] jmeistrich commented on #68
I've noticed that too - I thought it was my VSCode. If it's a problem with the library I have no idea what it could be, but I'll look into it. And if anyone knows how to solve it, I would appreciate the help :)

[2022-11-21 07:56] SMhdAsadi commented on #68
Oh yes you're right. This project is using a monorepo somehow. I close this issue since it is working fine in a normal project.

[2022-11-21 07:56] #68 closed

[2022-11-24 09:00] joakimbeng opened #71 "<For /> does not re-render if array length does not change in non-optimized mode"
Hi and thanks for a great library!

I am experiencing an issue with `<For />` and filtered arrays in non-optimized mode, apparently it doesn't re-render if the array length is not changed.

Here's a sandbox that reproduces the bug: https://codesandbox.io/s/legend-w-observable-forked-cegnon?file=/src/App.tsx

In the sandbox changing the category in the dropdown from "One" -> "Two" -> "Three" -> "Fo

[2022-11-24 11:53] jmeistrich commented on #71
Oh that's no good! I'll look into that tomorrow.

[2022-11-25 10:06] jmeistrich commented on #71
This should be fixed in `0.22.3`. But please let me know if it's still not working right.

[2022-11-25 10:06] #71 closed

[2022-11-25 10:33] joakimbeng commented on #71
Yes, it works! Thank you for the quick fix 😃